<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title> Registration or Sign Up form in HTML CSS | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="" method="post">
      <div class="input-box">
	<label for="rest_name">Restaurant Name:</label><br>
        <input name='Restaurant Name' id="rest_name" type="text"  required value="{{
          request.form.restname }}">
      </div>
      <div class="input-box">
	<label for="type">Restaurant Category:</label><br>
        <input name='Type' id="type" type="text" required value="{{
          request.form.type }}">
      </div>
      <div class="input-box">
	<label for="review">Initial Review:</label><br>
        <input name='Initial Assessment/Review' id="review" type="text" required value="{{
          request.form.review }}">
      </div>
      <div class="input-box button">
        <input class="btn btn-default" type="Submit" value="Add the restaurant">
      </div>
    </form>
  </div>
</body>
</html>

